USE [master]
GO
/****** Object:  Database [Provider]    Script Date: 2/4/2024 8:56:32 PM ******/
CREATE DATABASE [Provider]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Provider_Data', FILENAME = N'C:\Users\srdja\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\server\Provider.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Provider_Log', FILENAME = N'C:\Users\srdja\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\server\Provider.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Provider].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Provider]
GO
/****** Object:  Table [dbo].[Internet]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internet](
	[paket_id] [int] NOT NULL,
	[brzina] [int] NOT NULL,
 CONSTRAINT [PK_Internet] PRIMARY KEY CLUSTERED 
(
	[paket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klijent]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klijent](
	[id] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[prezime] [nvarchar](50) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[jbmg] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Klijent] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kombinovani]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kombinovani](
	[paket_id] [int] NOT NULL,
	[tv_id] [int] NOT NULL,
	[int_id] [int] NOT NULL,
 CONSTRAINT [PK_Kombinovani] PRIMARY KEY CLUSTERED 
(
	[paket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paket]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paket](
	[id] [int] NOT NULL,
	[ime] [nvarchar](50) NOT NULL,
	[cena] [real] NOT NULL,
	[opis] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Paket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TvPaket]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TvPaket](
	[paket_id] [int] NOT NULL,
	[broj_kanala] [int] NOT NULL,
 CONSTRAINT [PK_TvPaket] PRIMARY KEY CLUSTERED 
(
	[paket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ugovor]    Script Date: 2/4/2024 8:56:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ugovor](
	[id] [int] NOT NULL,
	[klijent_id] [int] NOT NULL,
	[paket_id] [int] NOT NULL,
	[datum_od] [date] NOT NULL,
	[datum_do] [date] NOT NULL,
 CONSTRAINT [PK_Ugovor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Internet]  WITH CHECK ADD  CONSTRAINT [FK_Internet_Paket] FOREIGN KEY([paket_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[Internet] CHECK CONSTRAINT [FK_Internet_Paket]
GO
ALTER TABLE [dbo].[Kombinovani]  WITH CHECK ADD  CONSTRAINT [FK_Kombinovani_Paket] FOREIGN KEY([int_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[Kombinovani] CHECK CONSTRAINT [FK_Kombinovani_Paket]
GO
ALTER TABLE [dbo].[Kombinovani]  WITH CHECK ADD  CONSTRAINT [FK_Kombinovani_Paket1] FOREIGN KEY([tv_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[Kombinovani] CHECK CONSTRAINT [FK_Kombinovani_Paket1]
GO
ALTER TABLE [dbo].[Kombinovani]  WITH CHECK ADD  CONSTRAINT [FK_Kombinovani_Paket2] FOREIGN KEY([paket_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[Kombinovani] CHECK CONSTRAINT [FK_Kombinovani_Paket2]
GO
ALTER TABLE [dbo].[TvPaket]  WITH CHECK ADD  CONSTRAINT [FK_TvPaket_Paket] FOREIGN KEY([paket_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[TvPaket] CHECK CONSTRAINT [FK_TvPaket_Paket]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Klijent] FOREIGN KEY([klijent_id])
REFERENCES [dbo].[Klijent] ([id])
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Klijent]
GO
ALTER TABLE [dbo].[Ugovor]  WITH CHECK ADD  CONSTRAINT [FK_Ugovor_Paket] FOREIGN KEY([paket_id])
REFERENCES [dbo].[Paket] ([id])
GO
ALTER TABLE [dbo].[Ugovor] CHECK CONSTRAINT [FK_Ugovor_Paket]
GO
USE [master]
GO
